@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin centerHV {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*
0 -600px    - phone
600-900px   -Tablet-portrait
900 -1200px -Tablet-landscape
1200-1800px where our normal styles apply
1200 -1800px - big desktop

Breakpoint argument choices:
-Phone
-tab-port
-tab-land
-big-desk
1em==16px


ORDER : BASE + TYPOGRAPHY + GENERAL LAYOUT + GRID > PAGE LAYOUT > COMPONENTS
*/

@mixin respond($breakpoint) {

  @if $breakpoint==phone {
    @media only screen and(max-width:37.5em) {
      //600px
      @content
    }

    ;
  }

  @if $breakpoint==tab-port {
    @media only screen and(max-width:56.25em) {
      //900px
      @content
    }

    ;
  }

  @if $breakpoint==tab-land {
    @media only screen and(max-width:75em) {
      //1200px
      @content
    }

    ;
  }

  @if $breakpoint==big-desk {
    @media only screen and(min-width:112em) {
      //1800px
      @content
    }
  }
}